<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Nas Nuvens</title>
		<meta name="description" content="Template nas Nuvens.">
		<meta name="author" content="James">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" type="text/css" href="../../css/nuvens/styles.css">
	</head>

	<body>
		<header>
			<h1>Nas Nuvens</h1>
		</header>

		<section id="content">

			<aside id="left-bar">
				<div id="left-border-top" class="borders"></div>
				<section>
					<h1 class="font-menu-h1">Artigos</h1>
					<nav>
						<ul>
							<li><a href="#" class="menu">HTML 5</a></li>
							<li><a href="#" class="menu">CSS 3</a></li>
							<li><a href="#" class="menu">jQuery</a></li>
							<li><a href="#" class="menu">PHP 5</a></li>
							<li><a href="#" class="menu">MySQL</a></li>
						</ul>
					</nav>
				</section>
				<section>
					<h1>Mais Popular</h1>
					<nav>
						<ul>
							<li><a href="#" class="menu">HTML 5</a></li>
							<li><a href="#" class="menu">CSS 3</a></li>
							<li><a href="#" class="menu">jQuery</a></li>
							<li><a href="#" class="menu">PHP 5</a></li>
							<li><a href="#" class="menu">MySQL</a></li>
						</ul>
					</nav>
				</section>
				<div id="left-border-bottom" class="borders"></div>
			</aside>

			<aside id="main-bar">

			</aside>

			<aside id="right-bar">

			</aside>

		</section>

		<footer>
			<p>
				&copy; Copyright  by James
			</p>
		</footer>
	</body>
</html>
